<table>
    <tr>
        <td>
            <pre>   </pre>
        </td>
        <td>
            <a href="{% url 'home' %}">Home</a>
        </td>
        <td>
            <pre>   </pre>
        </td>
        <td>
            <a href="{% url 'add_events' %}">Add Event</a>
        </td>
        <td>
            <pre>   </pre>
        </td>
        <td>
            <a href="{% url 'login' %}">Login</a>
        </td>
        <td>
            <pre>   </pre>
        </td>
        <td>
            <a href="{% url 'signup' %}">Sign Up</a>
        </td>
        <td>
            <pre>   </pre>
        </td>
        <td>
            <a href="{% url 'profile' %}">Profile</a>
        </td>
    </tr>
</table>
